.container-fondo::before {
    content: "";
    background-image: url(/Multimedia/fondo-escuela-violeta.jpg);
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px); 
    z-index: -1; 
}
  .container-fondo {
    position: relative;
}
.container-fondo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------------*/
.alert::-webkit-scrollbar {
    width: 6px;
}
.alert::-webkit-scrollbar-track {
    background-color: #7ebbdf;
}
.alert::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.alert::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/*------------------------------------------------------------------*/

.login-form{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;

}
/*------------------------------------------------------------------*/
.imagen-icono-ajustes {
    width: 25px;
    height: auto;
}
.imagen-icono-ajustes {
    filter: brightness(0) invert(0.5);
    fill: #750000;
    -webkit-filter: brightness(0) invert(0.5);
}
.estado {
    height: 5px;
}
/*
<form method="GET" action="">
                    <!-- ---------------------------------------------------------------------- -->
                    <div class="input-div mb-2">
                        <div class="form-group mb-2">
                            <h5 class="h5 text-center">Asistencia</h5>
                            <input type="text" name="dni" placeholder="Ingrese el dni" class="form-control">
                        </div>
                    </div>
                    <button name="btn-enviar" class="btn btn-primary mt-2 mb-5">Presente!</button>
                    <?php
                    if ($_SERVER["REQUEST_METHOD"] == "GET") {
                        if (isset($_GET["dni"])) {
                            $dni = $_GET["dni"];
                            if (!empty($dni)) {
                                $consulta = Alumno::obtenerAlumno($dni);
                                $alumno = $conexion->ejecutaConsulta($consulta);
                                $alumno = $alumno->fetch_object();
                                if ($alumno) {
                                    $consulta = Asistencia::contadorAsistencias($dni);
                                    $totalAsistencias = $conexion->ejecutaConsulta($consulta);
                                    $totalAsistencias = $totalAsistencias->fetch_assoc();
                                    echo "<div class='alert alert-success'>El alumno : $alumno->nombre $alumno->apellido tiene $totalAsistencias[contador] asistencias</div>";
                                    $fecha = date('Y-m-d H:i:s');
                                    $consulta = Asistencia::presente($dni, $fecha);
                                    $conexion->ejecutaConsulta($consulta);
                                    echo "</form>";
                                } else {
                                    echo "<div class='alert alert-danger'>No se encontro el dni";
                                    echo "<br>";
                                    echo "</div>";
                                    echo "</form>";
                                    echo "<a href='/ABM/insertarABM.php?id=$dni'><button name='btn-enviar' class='btn btn-primary mt-2' >Ingresar alumno</button> </a>;";
                                }
                            } else {
                                echo "<div class='alert alert-danger'>Campo vacio.</div>";
                                echo "</form>";
                            }
                        }
                    }
                    ?>


            </div>
        </div>

<form action="">
                    <select name="" id="">
                        <option value="">Selecciona un alumno</option>
                        <?php
                        $consulta = Alumno::obtenerTodosLosAlumnos();
                        $Todos = $conexion->ejecutaConsulta($consulta);
                        $todos = $Todos->fetch_all();
                        foreach ($todos as $todo) {
                            echo "<option value='$todo[0]'>$todo[1] $todo[2]</option>";
                        }
                        ?>
                    </select>
                </form>
                
                ---------------------------------------------------------
                <form class="form mb-3">
                    <select class="form-select" name="alumnoSelector" id="alumnoSelector" onchange="cargarInfoAlumno(this.value)">
                        <option value="">Selecciona un alumno</option>
                        <?php
                        $consulta = Alumno::obtenerTodosLosAlumnos();
                        $alumnos = $conexion->ejecutaConsulta($consulta);
                        $alumnos = $alumnos->fetch_all();
                        foreach ($alumnos as $alumno) {
                            echo "<option value='$alumno[0]'>$alumno[1] $alumno[2]</option>";
                        }
                        ?>
                    </select>
                </form>*/